* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/* ------------------- Nav Section ------------------ */
.nav-section {
  display: flex;
  align-items: center;
}

.nav-left {
  flex: 1;
  background-color: #5d5b5b;
  padding: 1.5rem 0 1.5rem 5rem;
}

.nav-right {
  background-color: #d9d9d9;
  flex: 1;
  padding: 1.5rem 0 1.5rem 5rem;
}
.nav-right ul {
  list-style: none;

  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-right ul li {
  margin: 0 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}
.nav-right ul li a {
  color: black;
  font-style: none;
  text-decoration: none;
}

/* ------------------ Hero Section ------------------ */

.hero-section {
  display: flex;
  align-items: center;
  height: 90vh;
}

.hero-left {
  flex: 1;
  height: 100%;
}

.hero-right {
  background-color: #5d5b5b;
  flex: 1;
  height: 100%;
}
